In [288]:
import numpy as np
import pandas as pd

In [289]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib import rc

In [290]:
def get_mae(model):
    train_pred = model.predict(X_train)
    score = mean_absolute_error(y_train,train_pred)
    print(model.__class__.__name__, " train MAE: ", np.round(score,3))
    pred = model.predict(X_test)
    score = mean_absolute_error(y_test,pred)
    print(model.__class__.__name__, " MAE: ", np.round(score,3))

In [291]:
def get_maes(models):
    scores = []
    for model in models:
        score = get_mae(model)
        # scores.append(score)
    # return scores

In [292]:
def get_r2score(model):
    train_pred = model.predict(X_train)
    pred = model.predict(X_test)
    train_score = r2_score(y_train,train_pred)
    score = r2_score(y_test,pred)
    print(model.__class__.__name__, " train_R2SCORE: ", np.round(train_score,3))
    print(model.__class__.__name__, " R2SCORE: ", np.round(score,3))

In [293]:
def get_rmse(model):
    train_pred = model.predict(X_train)
    train_mse = mean_squared_error(y_train,train_pred)
    rmse = np.sqrt(train_mse)
    print(model.__class__.__name__, 'train RMSE: ', np.round(rmse,3))
    pred = model.predict(X_test)
    mse = mean_squared_error(y_test, pred)
    rmse = np.sqrt(mse)
    print(model.__class__.__name__, ' RMSE: ', np.round(rmse,3))
    return rmse

In [294]:
def get_rmses(models):
    rmses = []
    for model in models:
        rmse = get_rmse(model)
        # rmses.append(rmse)
    # return rmses

In [295]:
def get_r2scores(models):
    scores = []
    for model in models:
        score = get_r2score(model)
        # scores.append(score)
    # return scores

In [296]:
# Preprocessing for turn over rate
def tor_preprocessing(tor):
  tor_df = tor
  tor_val = tor_df['turn_over_rate']

  for i, val in enumerate(tor_val):
    if '정보' in val:
      tor_df.loc[i,'turn_over_rate'] = np.NAN
    elif val == '(9999%)' :
      tor_df.loc[i,'turn_over_rate'] = np.NAN
    elif '(' in val:
      tmp = float(val[1:-1].replace('%',''))*0.01
      tor_df.loc[i,'turn_over_rate'] = tmp

  return tor_df

In [297]:
# Preprocessing for financial variable
def fv_preprocessing(fv):
  fv_df = fv
  afv = fv_df['average_salary']
  tfv = fv_df['total_sale']

  for i, val in enumerate(afv):
    if type(val) == str:
        if '만원' in val:
          tmp = int(val[:-2].replace(',',''))
          fv_df.loc[i,'average_salary'] = tmp
        if '회사' in val:
          fv_df.loc[i,'average_salary'] = np.NAN
        if '수집' in val:
          fv_df.loc[i,'average_salary'] = np.NAN

  for i, val in enumerate(tfv):
    if type(val) == str:
        if '조원' in val:
          tmp = float(val[:-2].replace(',',''))*1000
          fv_df.loc[i,'total_sale'] = tmp
        if '억원' in val:
          tmp = float(val[:-2].replace(',',''))
          fv_df.loc[i,'total_sale'] = tmp
        if '억' in val:
          tmp = float(val[:-1].replace(',',''))
          fv_df.loc[i,'total_sale'] = tmp
          print(fv_df.loc[i,'total_sale'])
          print(i)
        if '회사' in val:
          fv_df.loc[i,'total_sale'] = np.NAN

  return fv_df

In [298]:
df = pd.read_csv("/content/drive/MyDrive/tp_df (1).csv")
df = df.drop(["Unnamed: 0"], axis=1)
df

,company_name,adv_topic_0,adv_topic_1,adv_topic_2,adv_topic_3,adv_topic_4,adv_topic_5,dadv_topic_0,dadv_topic_1,dadv_topic_2,dadv_topic_3,dadv_topic_4,dadv_topic_5,dadv_topic_6,average_salary,total_sale,turn_over_rate
0,국민건강보험공단,0.978254,0.000000,0.010190,0.000000,0.000000,0.000000,0.000000,0.073691,0.000000,0.013542,0.000000,0.912490,0.000000,6441,75400.0,0.20
1,근로복지공단,0.711998,0.000000,0.000000,0.242970,0.044643,0.000000,0.000000,0.224451,0.000000,0.000000,0.000000,0.775140,0.000000,5817,9406.2,0.13
2,농협은행,0.544925,0.000000,0.190050,0.000000,0.264180,0.000000,0.084182,0.229913,0.022778,0.021380,0.000000,0.631737,0.000000,6182,13100.0,0.15
3,현대카드,0.156598,0.123652,0.000000,0.294278,0.000000,0.420747,0.000000,0.514205,0.356452,0.000000,0.097374,0.000000,0.029307,8737,2300.0,0.35
4,중소기업은행,0.822690,0.000000,0.176463,0.000000,0.000000,0.000000,0.000000,0.258842,0.000000,0.000000,0.071889,0.656891,0.000000,10065,14800.0,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2498,유끼커뮤니케이션,0.012008,0.011985,0.011982,0.012023,0.011973,0.940029,0.000000,0.000000,0.959034,0.000000,0.000000,0.000000,0.000000,4417,28.0,0.14
2499,투어이천,0.656603,0.015327,0.015284,0.015310,0.015360,0.282116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.942648,1314,108.9,1.36
2500,휴먼코아,0.000000,0.315275,0.018317,0.000000,0.663085,0.000000,0.000000,0.311305,0.000000,0.000000,0.000000,0.000000,0.682863,3062,430.1,1.00
2501,에이치엔씨네트워크,0.000000,0.000000,0.000000,0.000000,0.600597,0.391843,0.000000,0.453240,0.000000,0.044698,0.000000,0.000000,0.494197,3038,336.9,0.68
2502,현대엔지비,0.309388,0.030324,0.213715,0.444888,0.000000,0.000000,0.000000,0.000000,0.017770,0.859055,0.023889,0.097414,0.000000,5898,633.4,0.33

In [299]:
df = df[df['turn_over_rate']<1]
error_firm = ['동원홈푸드','휠라홀딩스','트리','와디즈','키위컴퍼니','줌인터넷','시선인터내셔널','브이티코스메틱','유니슨이테크','씨엠비대전방송','서울비젼','더메인즈','조은시스템']

for i in error_firm:
    df = df[df.company_name != i]
df

,company_name,adv_topic_0,adv_topic_1,adv_topic_2,adv_topic_3,adv_topic_4,adv_topic_5,dadv_topic_0,dadv_topic_1,dadv_topic_2,dadv_topic_3,dadv_topic_4,dadv_topic_5,dadv_topic_6,average_salary,total_sale,turn_over_rate
0,국민건강보험공단,0.978254,0.000000,0.010190,0.000000,0.000000,0.000000,0.000000,0.073691,0.000000,0.013542,0.000000,0.912490,0.000000,6441,75400.0,0.20
1,근로복지공단,0.711998,0.000000,0.000000,0.242970,0.044643,0.000000,0.000000,0.224451,0.000000,0.000000,0.000000,0.775140,0.000000,5817,9406.2,0.13
2,농협은행,0.544925,0.000000,0.190050,0.000000,0.264180,0.000000,0.084182,0.229913,0.022778,0.021380,0.000000,0.631737,0.000000,6182,13100.0,0.15
3,현대카드,0.156598,0.123652,0.000000,0.294278,0.000000,0.420747,0.000000,0.514205,0.356452,0.000000,0.097374,0.000000,0.029307,8737,2300.0,0.35
4,중소기업은행,0.822690,0.000000,0.176463,0.000000,0.000000,0.000000,0.000000,0.258842,0.000000,0.000000,0.071889,0.656891,0.000000,10065,14800.0,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,플레이스엠,0.000000,0.000000,0.000000,0.282602,0.000000,0.704456,0.000000,0.000000,0.248392,0.000000,0.000000,0.000000,0.747261,3964,165.7,0.45
2496,서울신용평가정보,0.021088,0.021048,0.020972,0.020988,0.021015,0.894889,0.028672,0.028670,0.028677,0.028646,0.028691,0.028706,0.827938,3878,466.7,0.54
2498,유끼커뮤니케이션,0.012008,0.011985,0.011982,0.012023,0.011973,0.940029,0.000000,0.000000,0.959034,0.000000,0.000000,0.000000,0.000000,4417,28.0,0.14
2501,에이치엔씨네트워크,0.000000,0.000000,0.000000,0.000000,0.600597,0.391843,0.000000,0.453240,0.000000,0.044698,0.000000,0.000000,0.494197,3038,336.9,0.68
2502,현대엔지비,0.309388,0.030324,0.213715,0.444888,0.000000,0.000000,0.000000,0.000000,0.017770,0.859055,0.023889,0.097414,0.000000,5898,633.4,0.33

In [300]:
x_data = df.drop(['company_name','turn_over_rate', 'average_salary', 'total_sale'], axis = 1, inplace = False)

In [301]:
combined_data = pd.read_csv("/content/drive/MyDrive/bow_df.csv")

In [302]:

from sklearn.model_selection import train_test_split
combined_data = combined_data[combined_data['turn_over_rate']<1]
error_firm = ['동원홈푸드','휠라홀딩스','트리','와디즈','키위컴퍼니','줌인터넷','시선인터내셔널','브이티코스메틱','유니슨이테크','씨엠비대전방송','서울비젼','더메인즈','조은시스템']
for i in error_firm:
    combined_data = combined_data[combined_data.company_name != i]
combined_data.dropna(axis=0, inplace=True)
combined_data = combined_data.drop(['Unnamed: 0'], axis=1)
combined_data = fv_preprocessing(combined_data)
tor = combined_data['turn_over_rate']
combined_data.drop('turn_over_rate', axis=1, inplace=True)

In [303]:
combined_data = combined_data.drop(['company_name'], axis = 1, inplace = False)

In [304]:
combined_data = pd.concat([combined_data, x_data], axis=1)

In [305]:
train_input, test_input, train_target, test_target = train_test_split(combined_data, tor, test_size=0.2, random_state=42)

In [306]:
train_input

,adv,dadv,average_salary,total_sale,adv_topic_0,adv_topic_1,adv_topic_2,adv_topic_3,adv_topic_4,adv_topic_5,dadv_topic_0,dadv_topic_1,dadv_topic_2,dadv_topic_3,dadv_topic_4,dadv_topic_5,dadv_topic_6
701,"야근식대 제공, 자유로운 연차사용, 시차출퇴근제 가능, 복지 좋음 동절기 1시간 일...","사람을 부품처럼 사용, 인력부족이나 인턴채용으로만 메꾸려고 하여 남은 사람을 업무 ...",9691,4229.7,0.242878,0.000000,0.515200,0.000000,0.065522,0.175456,0.000000,0.687634,0.000000,0.000000,0.302717,0.000000,0.000000
2372,복지가 좋다 보너스 잘 나오고 연차가 자유롭고 직원과 친하게 지낼수 있다는 장점이 ...,고객에게 호구잡히고 빌고 기고 바뀌지 않음 고정급여가 아니라 죽어라 일을 해야함 실...,6076,1700.0,0.033919,0.000000,0.051392,0.143825,0.769183,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.996052,0.000000
1419,E사 들어오고 매출은 올랐음사옥이 새거라서 깔끔함야근강요 같은건 없음 역세권이며 주...,브랜드가 너무 쌈마이 느낌임. 패션브랜드에게는 썩 좋은건 아님.광고멘트도 낯간지럽고...,4039,1144.2,0.000000,0.000000,0.000000,0.041492,0.000000,0.955351,0.000000,0.000000,0.456208,0.000000,0.451754,0.028140,0.062118
392,근무강도가 세지 않고 연령대가 낮아 복장이나 규율은 다소 프리함.. 부서별로 다르지...,한 사람의 영향력이 지나치게 쎄다보니 조직개편과 내쫓기듯 나가는 사람들… 능력보다 ...,4750,157.6,0.011246,0.011230,0.011202,0.011222,0.943834,0.011267,0.014339,0.014341,0.014357,0.616636,0.311668,0.014332,0.014327
1058,자사 제품 복지몰 구매 가능(50%할인 및 100만원 상당의 포인트)다양한 업무 경...,급하게 변하는 결정들로 인해갑자기 변경되는 계획들모든 크고 작은 결정들을하나부터 열...,6999,3500.0,0.229173,0.114143,0.091598,0.108393,0.000000,0.456600,0.000000,0.202759,0.200164,0.000000,0.590462,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1766,아이크림을 준다 통큰버스가 다닌다 돈을 많이 받을 수 있다 일이 어렵지 않다 밥을 ...,계약직만 뽑는다 시도때도 없는 현장 지원 책임전가 70~80년대 마인드 들에 꼰대들...,6830,1806.8,0.000000,0.521391,0.000000,0.000000,0.463651,0.000000,0.072236,0.555588,0.000000,0.000000,0.364915,0.000000,0.000000
1182,식권 나와서 점심은 식당 4곳에서 골라먹을 수 있음사상역 근처라 교통이 편리함 부산...,"모든 것, 근무시간에는 전화 받느냐고 업무 못하고 퇴근시간 되서야 내 업무를 할 ...",5046,2544.7,0.000000,0.517877,0.000000,0.000000,0.358775,0.122167,0.703111,0.000000,0.000000,0.012351,0.098791,0.000000,0.184967
1220,워라밸 - 특히 유연근무가 매우 잘되어 있음적당한 연봉 - 어디가서 굶어죽지는 않을...,"근무지가 정말 오지 중의 오지에 있다 삼척, 하동 등등.. 나머지는 그래도 살만하지...",8665,5700.0,0.886724,0.039999,0.000000,0.000000,0.071335,0.000000,0.104650,0.076603,0.000000,0.000000,0.078195,0.739248,0.000000
1398,좋은 사람이 많았다.구내식당이 있어서 밥값 아낄 수 있었다.사내 카페가 싸다. 연차...,직무에 맞지않는 업무연봉이 매우매우매우 낮음팀끼리 화합해도 모자랄판에 서로 기싸움과...,4719,323.1,0.000000,0.307186,0.000000,0.000000,0.314917,0.374597,0.572473,0.000000,0.021814,0.000000,0.151371,0.000000,0.253143
931,사람이 많아서 은근히 장점이 될 수 있음 개인주의 분위기 같아보이지만 큰 텃세는 없...,엘리베이터 타려면 기다리는 시간이 소요되서 힘들었음 지각하면 안되니 더 부담되고 일...,3720,100.0,0.000000,0.000000,0.000000,0.276687,0.000000,0.722182,0.000000,0.000000,0.681195,0.000000,0.000000,0.000000,0.310026

In [307]:
test_input

,adv,dadv,average_salary,total_sale,adv_topic_0,adv_topic_1,adv_topic_2,adv_topic_3,adv_topic_4,adv_topic_5,dadv_topic_0,dadv_topic_1,dadv_topic_2,dadv_topic_3,dadv_topic_4,dadv_topic_5,dadv_topic_6
1768,많은 업무를 경험할 수 있고 생각지도 못했던 업무에 대해서도 견문을 넓힐 수 있는 ...,잡플래닛에 있는 연봉이 실제 연봉. 뭐 성과금 나오면 얼마 되겠지 하는 행복회로는 ...,5933,2063.4,0.000000,0.425936,0.000000,0.000000,0.569981,0.000000,0.937825,0.000000,0.000000,0.000000,0.047639,0.000000,0.011237
549,"업계 대비 높은 연봉, 수업 스케줄이 유연한 편이라 오후 출근 가능 업무자율성이 높...",아무래도 아이들과 학부모님을 상대해야하는 직업이기 때문에 힘이 들 수 밖에 없고 저...,4247,1011.3,0.189920,0.000000,0.014628,0.560886,0.233565,0.000000,0.074484,0.159760,0.172933,0.088749,0.038492,0.107954,0.357628
1536,휴가 자유지방 기업 대비 초봉 높은편자동차계열로 복지도 좋은편 점심밥이 제공된다.연...,지역이 조금 아쉬움.. 다만 차량만 있으면 위치가 좋음천안 번화가에서 차로 20분거...,6032,2201.5,0.000000,0.752685,0.031300,0.000000,0.214494,0.000000,0.437913,0.000000,0.000000,0.372349,0.023096,0.000000,0.165360
44,"1. 자회사 탑(급여, 복지)2. 현대라는 타이틀3. 구내식당4. 훌륭한 전산5. ...",1. 보수적인 기업 문화2. 구린 사원증3. 업무환경 별로4. 화장실 별로 업무량 ...,5601,719.0,0.000000,0.000000,0.580020,0.000000,0.413310,0.000000,0.232291,0.094388,0.066578,0.000000,0.165848,0.438523,0.000000
1509,"연차를 생각보다 자유롭게 쓸 수 있으며, 식사도 생각보다 괜찮게 나오는 듯 연차를...",진천군에 있어서 거리가 출퇴근하기에는 조금 멀다. 자차가 없는 사람은 사내 기숙사 ...,4750,616.1,0.337550,0.353940,0.000000,0.000000,0.298979,0.000000,0.446815,0.000000,0.000000,0.152364,0.395459,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,체계가 잡혀있는 편이라 좋긴 한데 그게 오히려 독일지도.. 체계와 절차가 너무 많다...,유연하지 못한 사고. 들어오는 일만 하는 느낌. 같이 있으면 나도 고이겠다 싶었음....,4675,188.5,0.000000,0.000000,0.217438,0.218641,0.000000,0.561886,0.000000,0.000000,0.296652,0.000000,0.129192,0.000000,0.572633
1808,연차를 2일전까지만 말하면 되고 그리고 기숙사 시설이 좋습니다 업무체계 및 제한사항...,연봉이 낮고 꼰대들이 너무 많아요 그리고 중소기업이라 그런가 현장직처럼 일하는 경우...,4585,480.6,0.000000,0.564319,0.000000,0.080191,0.253238,0.098636,0.301146,0.000000,0.339046,0.062236,0.127849,0.000000,0.167295
1956,사람을 함부로 자르지는 않아 매우 안정적임. 구내 식당. 지방에 갈 걱정이 없음 광...,고인물들이 많고 변화를 좋아하지 않음. 소수의 경영진이 거의 모든 의사 결정을 내림...,5736,2066.9,0.299672,0.000000,0.000000,0.000000,0.289310,0.404042,0.000000,0.180785,0.051403,0.000000,0.760976,0.000000,0.000000
2132,연차사용이 비교적 자유롭다밥 맛있다초봉은 높다장점이 근데 너무 없다 이거빼고 다 단...,회사는 매년 성장하지만 직원 대우를 안해준다연차 쌓일수록 연봉성장률 없음올해 연봉동...,6220,1964.1,0.000000,0.890040,0.000000,0.000000,0.027179,0.081463,0.473030,0.000000,0.000000,0.000000,0.075487,0.000000,0.450459
2405,"칼퇴 가능(일부부서만..), 샌드위치 연휴 시 연차소진하여 쉴 수 있음, 점심 제공...","연봉협상 안함.. 부서 이동 거의 불가능, 동물실험을 계속 진행으로 알러지 발생 위...",4068,326.7,0.054483,0.386961,0.000000,0.077484,0.307976,0.172577,0.000000,0.000000,0.000000,0.202355,0.000000,0.000000,0.794802

In [308]:
train_input = fv_preprocessing(train_input)

In [309]:
train_adv_text = train_input['adv'].to_numpy()
train_dadv_text = train_input['dadv'].to_numpy()

In [310]:
test_adv_text = test_input['adv'].to_numpy()
test_dadv_text = test_input['dadv'].to_numpy()

In [311]:
financial_train1=train_input['average_salary'].to_numpy()
financial_train2=train_input['total_sale'].to_numpy()
financial_test1=test_input['average_salary'].to_numpy()
financial_test2=test_input['total_sale'].to_numpy()

In [312]:
# np.array2string(train_adv_text)
# np.array2string(train_dadv_text)
# np.array2string(test_adv_text)
# np.array2string(test_dadv_text)

In [313]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

adv_tfidfvector = TfidfVectorizer()
adv_train = adv_tfidfvector.fit_transform(train_adv_text)
adv_test = adv_tfidfvector.transform(test_adv_text)

In [314]:
dadv_tfidfvector = TfidfVectorizer()
dadv_train = dadv_tfidfvector.fit_transform(train_dadv_text)
dadv_test = dadv_tfidfvector.transform(test_dadv_text)

In [315]:
financial_train1 = financial_train1.reshape(-1, 1)
financial_train2 = financial_train2.reshape(-1, 1)
financial_test1 = financial_test1.reshape(-1, 1)
financial_test2 = financial_test2.reshape(-1, 1)

In [316]:
financial_train1 = financial_train1.astype(float)
financial_train2 = financial_train2.astype(float)
financial_test1 = financial_test1.astype(float)
financial_test2 = financial_test2.astype(float)

In [317]:
train_input.iloc[:, -16:]

,dadv,average_salary,total_sale,adv_topic_0,adv_topic_1,adv_topic_2,adv_topic_3,adv_topic_4,adv_topic_5,dadv_topic_0,dadv_topic_1,dadv_topic_2,dadv_topic_3,dadv_topic_4,dadv_topic_5,dadv_topic_6
701,"사람을 부품처럼 사용, 인력부족이나 인턴채용으로만 메꾸려고 하여 남은 사람을 업무 ...",9691,4229.7,0.242878,0.000000,0.515200,0.000000,0.065522,0.175456,0.000000,0.687634,0.000000,0.000000,0.302717,0.000000,0.000000
2372,고객에게 호구잡히고 빌고 기고 바뀌지 않음 고정급여가 아니라 죽어라 일을 해야함 실...,6076,1700.0,0.033919,0.000000,0.051392,0.143825,0.769183,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.996052,0.000000
1419,브랜드가 너무 쌈마이 느낌임. 패션브랜드에게는 썩 좋은건 아님.광고멘트도 낯간지럽고...,4039,1144.2,0.000000,0.000000,0.000000,0.041492,0.000000,0.955351,0.000000,0.000000,0.456208,0.000000,0.451754,0.028140,0.062118
392,한 사람의 영향력이 지나치게 쎄다보니 조직개편과 내쫓기듯 나가는 사람들… 능력보다 ...,4750,157.6,0.011246,0.011230,0.011202,0.011222,0.943834,0.011267,0.014339,0.014341,0.014357,0.616636,0.311668,0.014332,0.014327
1058,급하게 변하는 결정들로 인해갑자기 변경되는 계획들모든 크고 작은 결정들을하나부터 열...,6999,3500.0,0.229173,0.114143,0.091598,0.108393,0.000000,0.456600,0.000000,0.202759,0.200164,0.000000,0.590462,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1766,계약직만 뽑는다 시도때도 없는 현장 지원 책임전가 70~80년대 마인드 들에 꼰대들...,6830,1806.8,0.000000,0.521391,0.000000,0.000000,0.463651,0.000000,0.072236,0.555588,0.000000,0.000000,0.364915,0.000000,0.000000
1182,"모든 것, 근무시간에는 전화 받느냐고 업무 못하고 퇴근시간 되서야 내 업무를 할 ...",5046,2544.7,0.000000,0.517877,0.000000,0.000000,0.358775,0.122167,0.703111,0.000000,0.000000,0.012351,0.098791,0.000000,0.184967
1220,"근무지가 정말 오지 중의 오지에 있다 삼척, 하동 등등.. 나머지는 그래도 살만하지...",8665,5700.0,0.886724,0.039999,0.000000,0.000000,0.071335,0.000000,0.104650,0.076603,0.000000,0.000000,0.078195,0.739248,0.000000
1398,직무에 맞지않는 업무연봉이 매우매우매우 낮음팀끼리 화합해도 모자랄판에 서로 기싸움과...,4719,323.1,0.000000,0.307186,0.000000,0.000000,0.314917,0.374597,0.572473,0.000000,0.021814,0.000000,0.151371,0.000000,0.253143
931,엘리베이터 타려면 기다리는 시간이 소요되서 힘들었음 지각하면 안되니 더 부담되고 일...,3720,100.0,0.000000,0.000000,0.000000,0.276687,0.000000,0.722182,0.000000,0.000000,0.681195,0.000000,0.000000,0.000000,0.310026

In [318]:
train_last_16_columns = train_input.iloc[:, -13:].values
test_last_16_columns = test_input.iloc[:, -13:].values

In [319]:
from scipy.sparse import hstack # tf-idf로 변환된 텍스트 데이터와 금융 데이터를 연결
X_train = hstack([adv_train, dadv_train, financial_train1, financial_train2, train_last_16_columns])  # 텍스트 데이터와 금융 데이터를 수평으로 연결
X_test = hstack([adv_test, dadv_test,financial_test1, financial_test2, test_last_16_columns])    # 테스트 데이터에 대해서도 동일하게 수행

In [320]:
y_train = train_target.to_numpy()
y_test = test_target.to_numpy()

In [321]:
# Linear Regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error


lr_reg = LinearRegression()
lr_reg.fit(X_train, y_train)

ridge_reg = Ridge()
ridge_reg.fit(X_train, y_train)

lasso_reg = Lasso()
lasso_reg.fit(X_train,y_train)

models = [lr_reg, ridge_reg, lasso_reg]
get_rmses(models)
print('\n')
get_r2scores(models)
print('\n')
get_maes(models)

LinearRegression train RMSE:  0.056
LinearRegression  RMSE:  0.164
Ridge train RMSE:  0.056
Ridge  RMSE:  0.164
Lasso train RMSE:  0.177
Lasso  RMSE:  0.187


LinearRegression  train_R2SCORE:  0.92
LinearRegression  R2SCORE:  0.388
Ridge  train_R2SCORE:  0.919
Ridge  R2SCORE:  0.386
Lasso  train_R2SCORE:  0.197
Lasso  R2SCORE:  0.203


LinearRegression  train MAE:  0.044
LinearRegression  MAE:  0.124
Ridge  train MAE:  0.042
Ridge  MAE:  0.122
Lasso  train MAE:  0.137
Lasso  MAE:  0.142

In [329]:
from sklearn.model_selection import GridSearchCV

def print_best_params(model, params):
    grid_model = GridSearchCV(model, param_grid=params,
                              scoring='r2', cv=5)
    grid_model.fit(X_train,y_train)
    r2_score = grid_model.best_score_
    print('train: {0} After 5 CV, best average R2 score: {1}, best alpha: {2}'.format(model.__class__.__name__,np.round(r2_score,4),grid_model.best_params_))
    print('test: {0} After 5 CV, best average R2 score: {1}, best alpha: {2}'.format(model.__class__.__name__,np.round(grid_model.score(X_test, y_test),4),grid_model.best_params_))
    grid_model = GridSearchCV(model, param_grid=params,
                              scoring='neg_mean_squared_error', cv=5)
    grid_model.fit(X_train,y_train)
    mse = -1 * grid_model.best_score_
    rmse = np.sqrt(-1*grid_model.best_score_)
    print('train: {0} After 5 CV, best average MSE: {1}, best average RMSE: {2}, best alpha: {3}'.format(model.__class__.__name__,np.round(mse,4),
                                                                           np.round(rmse,4),grid_model.best_params_))

    grid_score = grid_model.score(X_test, y_test)
    mse = -1 * grid_score
    rmse = np.sqrt(-1*grid_score)
    print('test: {0} After 5 CV, best average MSE: {1}, best average RMSE: {2}, best alpha: {3}'.format(model.__class__.__name__,np.round(mse,4),
                                                                           np.round(rmse,4),grid_model.best_params_))

    grid_model = GridSearchCV(model, param_grid=params,
                              scoring='neg_mean_absolute_error', cv=5)
    grid_model.fit(X_train,y_train)
    mae = -1 * grid_model.best_score_
    print('train: {0} After 5 CV, best average MAE: {1}, best alpha: {2}'.format(model.__class__.__name__,np.round(mae,4),grid_model.best_params_))
    print('test: {0} After 5 CV, best average MAE: {1}, best alpha: {2}'.format(model.__class__.__name__,np.round(-1*grid_model.score(X_test, y_test),4), grid_model.best_params_))




ridge_params = {'alpha':[ 1, 2, 3, 4, 5]}

print_best_params(ridge_reg,ridge_params)

train: Ridge After 5 CV, best average R2 score: 0.3331, best alpha: {'alpha': 1}
test: Ridge After 5 CV, best average R2 score: 0.3856, best alpha: {'alpha': 1}
train: Ridge After 5 CV, best average MSE: 0.0261, best average RMSE: 0.1617, best alpha: {'alpha': 1}
test: Ridge After 5 CV, best average MSE: 0.0269, best average RMSE: 0.1639, best alpha: {'alpha': 1}
train: Ridge After 5 CV, best average MAE: 0.1204, best alpha: {'alpha': 1}
test: Ridge After 5 CV, best average MAE: 0.1222, best alpha: {'alpha': 1}